<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<div class="main_info">
    <h1 class="main_info_title">About</h1>
    <p class="main_info_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus veniam saepe fuga cum aspernatur accusamus consectetur explicabo. Libero voluptatum quidem modi molestiae adipisci porro obcaecati nihil odit, inventore cumque error optio animi, repudiandae aut ut ad dolorum! Error eaque vel qui, cumque dicta repudiandae veritatis dolorem et ea hic.</p>
</div>
{% endblock %}